NODE_ENV=development
PORT=3000
JWT_KEY=tUg7lYBzciaWjw6B01IECSoH5RrXZZEcFwlssmrOizz
JWT_EXPIRES_IN=1h
CLIENT_ORIGINS=http://localhost:3000
TRUST_PROXY=false
RESET_PASSWORD_URL_BASE=http://localhost:3000/api/user/reset-password
SHOW_RESET_LINK_IN_LOGS=true